extends layout

block content
  h1= title
  p Math.acosh() applied to #{x} is #{a};
  p Math.log1p() applied to #{x} is #{b};
  p Math.tan() applied to #{x} is #{c};
  p Math.sqrt()applied to #{x} is #{d};